.thumbnail {
  border-radius: 5px;
  height: auto;
  width: 20%;
  opacity: 0.5;
  cursor: pointer;
  border-width: 0;
}

.thumbnail-image {
  margin: 0;
  padding: 0;
}
.add-thumbnail {
  opacity: 1 !important;
}

@media all and (min-width: 768px) {
  .thumbnail {
    width: 100px;
    height: 100px;
  }
}
