.appointment-box {
  width: 400px;
  height: 80px;
  border: 1px solid #9897f0;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
}

.title-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
}

.title {
  color: #171f46;
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0px;
}

.button {
  background-color: transparent;
  border-width: 0;
}

.date-text {
  color: #9897f0;
  font-size: 12px;
  margin-top: 0px;
  margin-left: 10px;
}

.button2 {
  background-color: transparent;
  border-width: 0;
}
