/* Write your code here. */
.bg {
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.heading {
  font-size: 34px;
  color: white;
  font-weight: 600;
  font-family: Roboto;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
.image {
  height: 100px;
  width: 100px;
  margin: 0;
  padding: 0;
}
