/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  min-height: 100vh;
  width: 100%;
}
.header-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.destination-heading {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Roboto';
  color: #000000;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .destination-heading {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .destination-heading {
    font-size: 40px;
    font-weight: 700;
  }
}
.search-input-container {
  width: 80%;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f5f9;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border-width: 0px;
}
.input-element {
  width: 90%;
  background-color: transparent;
  border-width: 0px;
  border: none;
  outline: none;
  padding: 4px 8px 4px 8px;
  font-size: 15px;
}

.search-image {
  width: 20px;
  height: 20px;
}
.locations-container {
  list-style: none;
}
@media screen and (max-width: 767px) {
  .locations-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    /*padding: 20px 15px 30px 15px;*/
  }
}

@media screen and (min-width: 768px) {
  .locations-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
}
