.bg {
  background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #ffffff;
  width: 80%;
  padding: 30px;
  border-radius: 20px;
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media all and (min-width: 768px) {
  .top-container {
    flex-direction: row;
  }
  .image-container {
    order: 1;
  }
  .container {
    width: 60%;
  }
  .title-input {
    width: 400px;
  }
}
.label {
  font-size: 20px;
  color: #171f46;
  font-family: 'Roboto';
}
.title-input {
  height: 30px;
  width: 100%;
  border: 1px solid #b5b7c4;
  border-radius: 5px;
  margin-bottom: 10px;
}
.hr-line {
  width: 80%;
}
.heading {
  font-size: 25px;
}
.button1 {
  background-color: #9796f0;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  width: 60px;
}
.heading-and-starred {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.appointments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}
